src/*.build.sh
src/*.import.scm
src/*.import.so
src/*.install.sh
src/*.link
src/*.so
src/*.static.o
src/*.static.a
src/*.o
src/test/*.html
src/test/*.md
src/test/learning
*.swp
*.DS_Store
# large generated test data
src/test/users_*.json
